@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "navigation";
@import "footer";
@import "pagination";
@import "font-awesome";
@import "compass/css3/box-shadow";

body {
	margin: 0;
}

#container {
	@include outer-container;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	@include media($medium-screen) {
		padding-left:0em;
		padding-right:0em;
	}
	.article {
		@include span-columns(12);
	}
}
.partial-container {
	@include outer-container;
}

ul {
	list-style-type: square;
	padding-left:20px;
}

code {
	background-color:#f8f8f8;
	color:#d14;
	font-size: 1.3em;
}

#aboutMe, #contact {
	display:none;
	@include linear-gradient(to top, lighten($base-accent-color, 5), $base-accent-color);
	border-top: solid 1px lighten($base-accent-color, 40);
	border-bottom: solid 1px darken($base-accent-color, 10);
	color: #fff;
	padding:20px;
	@include box-shadow(lighten(#000, 70) 0px 2px 2px);
	a {
		color: #fff;
	}
}
#contact {
	p {
		margin-bottom: 0;
	}
}
