@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "navigation";
@import "footer";
@import "pagination";
@import "font-awesome";
@import "compass/css3/box-shadow";

body {
	margin: 0;
}

#container {
	@include outer-container;
	padding-top:1em;
	padding-left:1em;
	padding-right:1em;
	@include media($medium-screen) {
		padding-left:0em;
		padding-right:0em;
	}
  .article-archive {
    h2 {
      font-size: 1.2em;
      margin-top: 10px;
    }
    h3 {
      font-size: 1.1em;
    }
  }
	article {
		@include span-columns(12);
    float:none;
		p {
			font-size:1.2em;
		}
    &.blurb {
      margin-bottom:10px;
      display:block;
    }
		h2 {
			margin-bottom: 5px;
		}
	}
}
.partial-container {
	@include outer-container;
}

ul {
	list-style-type: square;
	padding-left:20px;
  margin-bottom: 0.75em;
}

code {
	background-color:#f8f8f8;
	color:#d14;
	font-size: 1.3em;
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}

#aboutMe, #contact {
	display:none;
	@include linear-gradient(to top, lighten($base-accent-color, 5), $base-accent-color);
	border-top: solid 1px lighten($base-accent-color, 40);
	border-bottom: solid 1px darken($base-accent-color, 10);
	color: #fff;
	padding:20px;
	@include box-shadow(lighten(#000, 70) 0px 2px 2px);
	a {
		color: #fff;
	}
}
#contact {
	p {
		margin-bottom: 0;
	}
}

.tags a {
  border-radius: 3px;
  background-color: #2c2d2d;
  color: #fff;
  text-decoration: none;
  padding: 2px 5px;
  transition: all 0.25s ease-in;
  font-size: 0.8em;

  &:hover {
    background-color: $base-accent-color;
  
  }
}

@media only screen and (-moz-min-device-pixel-ratio: 2), 
       only screen and (-o-min-device-pixel-ratio: 2/1), 
       only screen and (-webkit-min-device-pixel-ratio: 2), 
       only screen and (min-device-pixel-ratio: 2) {
  #main {
    font-size: 2em;
  }
  #container .article-archive h2 {
    margin-top:30px;
  }
  code {
    overflow:scroll;
  }
  .nav-link {
    a {
      line-height: 100px;
      font-size:3em;
    }
  }
  .centered-navigation {
   height: 100px;
  }
}
