@charset "utf-8";

@import "bourbon";
@import "base/base";   /* Bitters needs to be imported before Neat */
@import "neat";
@import "navigation";
@import "footer";
@import "pagination";

body {
	margin: 0;
}

#container {
	@include outer-container;
}

ul {
	list-style-type: square;
	padding-left:20px;
}

code {
	background-color:#f8f8f8;
	color:#d14;
	font-size: 1.3em;
}
