<div id="about-me">
	<div class="partial-container">
    <p>Hi, I'm Mitch and I'm a 28 year old programmer from the UK.</p>
    
    <p>I work for a web design agency in Telford called <a href="https://isev.co.uk" target="_blank">isev</a>. We build cool products like <a href="https://pukkateam.com">PukkaTeam</a> for remote workers.</p>

		<p>In my spare time I do many things. I like reading books, lifting weights, bouldering, boardgaming, Zelda and writing these articles!</p>
	</div>
</div>
