<div id="aboutMe">
	<div class="partial-container">
		<h5>About Me</h5>
		<p>My name is Mitch Stanley and I'm a 25 year old web developer from Birmingham, UK. I work for a web design agency in Telford called The Studio 4 where I build web applications with many different languages and tools.</p>
		<p>In my spare time I like to read epic fantasy novels, lift weights, play guitar and play video games.</p>
	</div>
</div>

