<div id="about-me">
	<div class="partial-container">
    <p>Hi, I'm Mitch and I'm a 27 year old programmer from the UK.</p>
    
    <p>I work for a web design agency in Telford called The Studio 4. I build web applications with many different languages and tools.</p>

		<p>In my spare time I do many things. I like to read books, lift weights, go bouldering, play board/video games and write these articles!</p>
	</div>
</div>
