<div id="about-me">
	<div class="partial-container">
    <p>My name is Mitch Stanley and I'm a 25 year old programmer from the UK.</p>
    
    <p>I work for a web design agency in Telford called The Studio 4 where I build web applications with many different languages and tools.</p>

		<p>In my spare time I do many things. I like to read books, lift weights, play guitar, play video games and write these articles!</p>
	</div>
</div>
